body {
    background-image: url('./Assets/Background.jpg');
    background-size: 120%; 
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

button {
    transition-duration: 700ms;
}

.main-wrapper {
    transition-duration: 800ms;
}