.main-wrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 30px 30px;
    justify-content: center;
    box-sizing: border-box;
}

.white-box-main {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    text-align: center;
    animation: whiteBoxScale 0.4s;
}

.main-chat {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 70%;
    height: 100%;   
    float: right;
    /* padding-top: 10%; */
    box-sizing: border-box;
    flex-direction: column;
    background-color: rgb(26,29,35);
}

.main-chat-list {
    padding: 5px;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;   
    box-sizing: border-box;
    background-color: #3e3d3b;
    color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(255,255,255,0.12), 0 1px 2px rgba(255,255,255,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.new-group {
    display: flex;
    text-align: left;
    height: 100px;
    width: 95%;
    padding: 8px;
    box-sizing: border-box;
    /* background-color: rgba(255, 255, 255); */
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.new-group:hover {
    transform: scale(1.06);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.new-group-img-wrapper {
    height: 58px;
    width: 58px;
    box-sizing: border-box;
    padding: 8px;
}

.new-group-img {
    font-size: 50px;
}

.main-chat-list-wrapper {
    float: left;
    box-sizing: border-box;
    padding: 15px;
    width: 30%;
    height: 100%;
    background-color: #1A1D23;
}

.main-group-name {
    width: 99%;
    height: 66px;
    border-radius: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
}

.main-group-wrapper {
    width: 100%;
    height: 91px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.exit-group-wrapper {
    width: 10%;
    height: 99%;  
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add-person-wrapper {
    width: 10%;
    height: 99%;  
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add-person {
    font-size: 60px; 
}

.exit-group {
    font-size: 60px;
}
	

.main-input-message {
    width: 80%;
    height: 54px;
    border-radius: 27px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #444444;
    background-color: #DDD;
    padding: 4px;
    padding-left: 20px;
    font-size: 1.1em;   
}

.main-input-wrapper {
    width: 100%;
    height: 91px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-no-group-selected {
    width: 100%;
    height: 100%;
}


.main-send-button {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.main-unicorn-icon-button {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.main-zoom-unicorn-wrapper {
    width: 100%;
    height: 100%;
}

.main-zoom-unicorn {
    width: 100%;
    height: 100%;
    background-color: black; /* fallback color */
    background-image: url("../../Assets/unicorn.gif");
    background-position: center;
    background-size: cover;
    transition-duration: .5s;
}




/* .main-zoom-unicorn:hover {
    background-size: 200%;
    
} */

@keyframes whiteBoxScale {
    0% {
        width: 60%;
        border-radius: 30px;
    }

    /* 50% {
        width: 75%;
    } */

    100% {
    }
  }