.message-rounded-image {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}

.message-image-container{
    height: 40px;
    width: 40px;
}

.other-message-box{
    margin-bottom: 1.5rem;
    justify-content: flex-start;
    display: flex;
    font-family: Helvetica, sans-serif;
    font-size: 17.5px;
    color: #000000;
}


.self-message-box{
    margin-bottom: 1.5rem;
    justify-content: flex-end;
    display: flex;
    font-family: Helvetica, sans-serif;
    font-size: 17.5px;
    color: #000000;
}

.self-message-content {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 8px 12px;
    position: relative;
    text-align: left;
    color: #000000;
    min-width: 100px;
}

.other-message-content {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 8px 16px;
    position: relative;
    color: #000000;
}

.self-message-time{
    position: absolute;
    right:0;
    bottom: -15px;
    color: #DDD;
    font-size: 10px;
    margin-right: 24px;
} 

.other-message-time{
    position: absolute;
    left: 0;
    bottom: -15px;
    color: #DDD;
    font-size: 10px;
    margin-left: 16px;
}

.message-user-name {
    /* margin-bottom: 1.5rem;
    justify-content: flex-start;
    display: flex; */
    font-family: Helvetica, sans-serif;
    font-size: 19.5px;
    font-weight: bold;
    color: #222;
}
